.input {
	padding: 0 10px;
	height: 40px;
	border: 1px solid $color-border;
	width: 100%;
	font-size: 14px;
	line-height: 1;
	border-radius: 2px;
	min-height: 0;
	background-color: white;
	position: relative;

	&__box {
		display: flex;
		flex-direction: column;
		margin-top: 20px;
		width: 100%;
	}

	&__title {
		font-size: 16px;
		margin-bottom: 5px;

		&_error {
			color: red;
		}
	}

	&_error {
		border-color: red;
	}

	&_icon {
		padding-left: 35px;
		background-position: 10px 50%;
		background-repeat: no-repeat;
	}

	&_icon-human {

		background-size: 17px 17px;
		background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="%230081cb" viewBox="0 0 24 24">
					<path d="M 12 3 A 4 4 0 0 0 8 7 A 4 4 0 0 0 12 11 A 4 4 0 0 0 16 7 A 4 4 0 0 0 12 3 z M 12 14 C 8.859 14 3 15.546 3 18.5 L 3 21 L 13.171875 21 L 18.597656 15.572266 C 16.615656 14.535266 13.843 14 12 14 z M 22.207031 15 C 22.079156 15 21.951016 15.048984 21.853516 15.146484 L 20.853516 16.146484 L 22.853516 18.146484 L 23.853516 17.146484 C 24.048516 16.951484 24.048516 16.634453 23.853516 16.439453 L 22.560547 15.146484 C 22.462547 15.048984 22.334906 15 22.207031 15 z M 20.146484 16.853516 L 15 22 L 15 24 L 17 24 L 22.146484 18.853516 L 20.146484 16.853516 z"></path>
				</svg>');
	}

	&_icon-phone {

		background-size: 17px 17px;
		background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="%230081cb" viewBox="0 0 24 24">
					<path d="M20.023,15.488c-0.63-0.015-1.423-0.052-1.924-0.14c-0.542-0.096-1.194-0.282-1.653-0.425 c-0.36-0.112-0.752-0.013-1.019,0.253L13.21,17.38c-1.532-0.807-2.759-1.747-3.798-2.792c-1.045-1.039-1.985-2.266-2.792-3.798 l2.204-2.218C9.09,8.305,9.189,7.913,9.077,7.553C8.935,7.095,8.748,6.443,8.653,5.901C8.564,5.4,8.528,4.607,8.512,3.977 C8.499,3.432,8.055,3,7.51,3H4C3.562,3,3,3.328,3,4c0,4.539,1.84,8.874,4.966,12.034C11.126,19.16,15.461,21,20,21 c0.672,0,1-0.562,1-1v-3.51C21,15.945,20.568,15.501,20.023,15.488z"></path>
				</svg>');
	}
}

.textarea {
	@extend .input;

	padding-top: 10px;
	padding-bottom: 13px;
	min-height: 150px;
	resize: vertical;

	&_icon {
		padding-left: 35px;
		background-position: 10px 10px;
		background-repeat: no-repeat;
	}

	&_icon-text {
		background-size: 17px 17px;
		background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="%230081cb" viewBox="0 0 24 24">
					<path d="M2,5v12c0,1.1,0.9,2,2,2h14l4,4L21.99,5c0-1.1-0.89-2-1.99-2H4C2.9,3,2,3.9,2,5z M7,6h10v2H7V6z M7,10h10v2H7V10z M7,14h7 v2H7V14z"></path>
				</svg>');
	}
}

.checkradio {
	position: relative;
	padding-left: 25px;
	display: inline-block;
	cursor: pointer;

	&__input {
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		opacity: 0;
		pointer-events: none;

		&:checked {

			& + .checkradio__box {
				&::before { opacity: 1; }
			}
		}
	}

	&__box {
		position: absolute;
		width: 15px;
		height: 15px;
		border: 1px solid $color-border;
		left: 0;
		top: 2px;

		&::before {
			content: '';
			width: 9px;
			height: 9px;
			background-color: $color-main;
			display: block;
			opacity: 0;
			transition: $tr;

			@include center-image;
		}
	}
}

.input-numberbox {
	display: table;
	width: 100%;

	&__button {
		border: 1px solid $color-border;
		width: 40px;
		display: table-cell;
		font-size: 18px;
		font-family: monospace;
		cursor: pointer;
		text-align: center;

		&:hover::before,
		&:hover::after {
			opacity: .5;
		}

		&::before, &::after {
			transition: $tr;
		}

		&:first-child::before {
			content: '-';
		}

		&:last-child::before {
			content: '+';
		}
	}

	&__input {
		flex: 1;
		border-left: 0;
		border-right: 0;
		text-align: center;
		display: table-cell;
	}
}

/*===============================
=            Choices            =
===============================*/
.choices {
	position: relative;
	margin-bottom: 24px;
	font-size: 16px;
}

.choices:focus {
	outline: none;
}

.choices:last-child {
	margin-bottom: 0;
}

.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input {
	background-color: #EAEAEA;
	cursor: not-allowed;
	user-select: none;
}

.choices.is-disabled .choices__item {
	cursor: not-allowed;
}

.choices[data-type*="select-one"] {
	cursor: pointer;
}

.choices[data-type*="select-one"] .choices__inner {
	padding-bottom: 7.5px;
}

.choices[data-type*="select-one"] .choices__input {
	display: block;
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid #DDDDDD;
	background-color: #FFFFFF;
	margin: 0;
}

.choices[data-type*="select-one"] .choices__button {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
	padding: 0;
	background-size: 8px;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -10px;
	margin-right: 25px;
	height: 20px;
	width: 20px;
	border-radius: 10em;
	opacity: .5;
}

.choices[data-type*="select-one"] .choices__button:hover, .choices[data-type*="select-one"] .choices__button:focus {
	opacity: 1;
}

.choices[data-type*="select-one"] .choices__button:focus {
	box-shadow: 0px 0px 0px 2px #00BCD4;
}

.choices[data-type*="select-one"]:after {
	content: "";
	height: 0;
	width: 0;
	border-style: solid;
	border-color: #333333 transparent transparent transparent;
	border-width: 5px;
	position: absolute;
	right: 11.5px;
	top: 50%;
	margin-top: -2.5px;
	pointer-events: none;
}

.choices[data-type*="select-one"].is-open:after {
	border-color: transparent transparent #333333 transparent;
	margin-top: -7.5px;
}

.choices[data-type*="select-one"][dir="rtl"]:after {
	left: 11.5px;
	right: auto;
}

.choices[data-type*="select-one"][dir="rtl"] .choices__button {
	right: auto;
	left: 0;
	margin-left: 25px;
	margin-right: 0;
}

.choices[data-type*="select-multiple"] .choices__inner,
.choices[data-type*="text"] .choices__inner {
	cursor: text;
}

.choices[data-type*="select-multiple"] .choices__button,
.choices[data-type*="text"] .choices__button {
	position: relative;
	display: inline-block;
	margin-top: 0;
	margin-right: -4px;
	margin-bottom: 0;
	margin-left: 8px;
	padding-left: 16px;
	border-left: 1px solid #008fa1;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yLjU5Mi4wNDRsMTguMzY0IDE4LjM2NC0yLjU0OCAyLjU0OEwuMDQ0IDIuNTkyeiIvPjxwYXRoIGQ9Ik0wIDE4LjM2NEwxOC4zNjQgMGwyLjU0OCAyLjU0OEwyLjU0OCAyMC45MTJ6Ii8+PC9nPjwvc3ZnPg==);
	background-size: 8px;
	width: 8px;
	line-height: 1;
	opacity: .75;
	border-radius: 0;
}

.choices[data-type*="select-multiple"] .choices__button:hover, .choices[data-type*="select-multiple"] .choices__button:focus,
.choices[data-type*="text"] .choices__button:hover,
.choices[data-type*="text"] .choices__button:focus {
	opacity: 1;
}

.choices__inner {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	background-color: #fff;
	padding: 7.5px 7.5px 3.75px;
	border: 1px solid $color-border;
	border-radius: 2.5px;
	font-size: 14px;
	min-height: 44px;
	overflow: hidden;
}

.is-focused .choices__inner,
.is-open .choices__inner {
	border-color: #b7b7b7;
}

.is-open .choices__inner {
	border-radius: 2.5px 2.5px 0 0;
}

.is-flipped.is-open .choices__inner {
	border-radius: 0 0 2.5px 2.5px;
}

.choices__list {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.choices__list--single {
	display: inline-block;
	padding: 4px 16px 4px 4px;
	width: 100%;
}

[dir="rtl"] .choices__list--single {
	padding-right: 4px;
	padding-left: 16px;
}

.choices__list--single .choices__item {
	width: 100%;
}

.choices__list--multiple {
	display: inline;
}

.choices__list--multiple .choices__item {
	display: inline-block;
	vertical-align: middle;
	border-radius: 20px;
	padding: 4px 10px;
	font-size: 12px;
	font-weight: 500;
	margin-right: 3.75px;
	margin-bottom: 3.75px;
	background-color: #00BCD4;
	border: 1px solid #00a5bb;
	color: #FFFFFF;
	word-break: break-all;
}

.choices__list--multiple .choices__item[data-deletable] {
	padding-right: 5px;
}

[dir="rtl"] .choices__list--multiple .choices__item {
	margin-right: 0;
	margin-left: 3.75px;
}

.choices__list--multiple .choices__item.is-highlighted {
	background-color: #00a5bb;
	border: 1px solid #008fa1;
}

.is-disabled .choices__list--multiple .choices__item {
	background-color: #aaaaaa;
	border: 1px solid #919191;
}

.choices__list--dropdown {
	display: none;
	z-index: 1;
	position: absolute;
	width: 100%;
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	top: 100%;
	margin-top: -1px;
	border-bottom-left-radius: 2.5px;
	border-bottom-right-radius: 2.5px;
	overflow: hidden;
	word-break: break-all;
}

.choices__list--dropdown.is-active {
	display: block;
}

.is-open .choices__list--dropdown {
	border-color: #b7b7b7;
}

.is-flipped .choices__list--dropdown {
	top: auto;
	bottom: 100%;
	margin-top: 0;
	margin-bottom: -1px;
	border-radius: .25rem .25rem 0 0;
}

.choices__list--dropdown .choices__list {
	position: relative;
	max-height: 300px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	will-change: scroll-position;
}

.choices__list--dropdown .choices__item {
	position: relative;
	padding: 10px;
	font-size: 14px;
}

[dir="rtl"] .choices__list--dropdown .choices__item {
	text-align: right;
}

@media (min-width: 640px) {
	.choices__list--dropdown .choices__item--selectable {
		padding-right: 100px;
	}
	.choices__list--dropdown .choices__item--selectable:after {
		content: attr(data-select-text);
		font-size: 12px;
		opacity: 0;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
	}
	[dir="rtl"] .choices__list--dropdown .choices__item--selectable {
		text-align: right;
		padding-left: 100px;
		padding-right: 10px;
	}
	[dir="rtl"] .choices__list--dropdown .choices__item--selectable:after {
		right: auto;
		left: 10px;
	}
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
	background-color: #f2f2f2;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
	opacity: .5;
}

.choices__item {
	cursor: default;
}

.choices__item--selectable {
	cursor: pointer;
}

.choices__item--disabled {
	cursor: not-allowed;
	user-select: none;
	opacity: .5;
}

.choices__heading {
	font-weight: 600;
	font-size: 12px;
	padding: 10px;
	border-bottom: 1px solid #f7f7f7;
	color: gray;
}

.choices__button {
	text-indent: -9999px;
	-webkit-appearance: none;
	appearance: none;
	border: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.choices__button:focus {
	outline: none;
}

.choices__input {
	display: inline-block;
	vertical-align: baseline;
	background-color: #f9f9f9;
	font-size: 14px;
	margin-bottom: 5px;
	border: 0;
	border-radius: 0;
	max-width: 100%;
	padding: 4px 0 4px 2px;
}

.choices__input:focus {
	outline: 0;
}

[dir="rtl"] .choices__input {
	padding-right: 2px;
	padding-left: 0;
}

.choices__placeholder {
	opacity: .5;
}

.choices__input.is-hidden,
.choices[data-type*="select-one"] .choices__input.is-hidden,
.choices[data-type*="select-multiple"] .choices__input.is-hidden {
	display: none;
}

/*=====  End of Choices  ======*/

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
	color: #dedede; }
.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
	color: #c5c5c5; }
.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
	color: #dedede; }
.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
	color: #fff;
	background: #a2ddf6; }
.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
	background: #8ad5f4; }
.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
	background-color: rgba(92, 196, 239, 0.1);
	color: #cccccc; }
.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
	background-color: rgba(92, 196, 239, 0.2); }
.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
	background: none;
	border: none; }

/* -------------------------------------------------
    Datepicker cells
   ------------------------------------------------- */
.datepicker--cells {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap; }

.datepicker--cell {
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 32px;
	z-index: 1; }
.datepicker--cell.-focus- {
	background: #f0f0f0; }
.datepicker--cell.-current- {
	color: #4EB5E6; }
.datepicker--cell.-current-.-focus- {
	color: #4a4a4a; }
.datepicker--cell.-current-.-in-range- {
	color: #4EB5E6; }
.datepicker--cell.-in-range- {
	background: rgba(92, 196, 239, 0.1);
	color: #4a4a4a;
	border-radius: 0; }
.datepicker--cell.-in-range-.-focus- {
	background-color: rgba(92, 196, 239, 0.2); }
.datepicker--cell.-disabled- {
	cursor: default;
	color: #aeaeae; }
.datepicker--cell.-disabled-.-focus- {
	color: #aeaeae; }
.datepicker--cell.-disabled-.-in-range- {
	color: #a1a1a1; }
.datepicker--cell.-disabled-.-current-.-focus- {
	color: #aeaeae; }
.datepicker--cell.-range-from- {
	border: 1px solid rgba(92, 196, 239, 0.5);
	background-color: rgba(92, 196, 239, 0.1);
	border-radius: 4px 0 0 4px; }
.datepicker--cell.-range-to- {
	border: 1px solid rgba(92, 196, 239, 0.5);
	background-color: rgba(92, 196, 239, 0.1);
	border-radius: 0 4px 4px 0; }
.datepicker--cell.-range-from-.-range-to- {
	border-radius: 4px; }
.datepicker--cell.-selected- {
	color: #fff;
	border: none;
	background: #5cc4ef; }
.datepicker--cell.-selected-.-current- {
	color: #fff;
	background: #5cc4ef; }
.datepicker--cell.-selected-.-focus- {
	background: #45bced; }
.datepicker--cell:empty {
	cursor: default; }

.datepicker--days-names {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 8px 0 3px; }

.datepicker--day-name {
	color: #FF9A19;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: center;
	text-transform: uppercase;
	font-size: .8em; }

.datepicker--cell-day {
	width: 14.28571%; }

.datepicker--cells-months {
	height: 170px; }

.datepicker--cell-month {
	width: 33.33%;
	height: 25%; }

.datepicker--years {
	height: 170px; }

.datepicker--cells-years {
	height: 170px; }

.datepicker--cell-year {
	width: 25%;
	height: 33.33%; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
	color: #dedede; }
.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
	color: #c5c5c5; }
.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
	color: #dedede; }
.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
	color: #fff;
	background: #a2ddf6; }
.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
	background: #8ad5f4; }
.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
	background-color: rgba(92, 196, 239, 0.1);
	color: #cccccc; }
.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
	background-color: rgba(92, 196, 239, 0.2); }
.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
	background: none;
	border: none; }

/* -------------------------------------------------
    Datepicker
   ------------------------------------------------- */
.datepickers-container {
	position: absolute;
	left: 0;
	top: 0; }
@media print {
	.datepickers-container {
		display: none; } }

.datepicker {
	background: #fff;
	border: 1px solid #dbdbdb;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	box-sizing: content-box;
	font-family: Tahoma, sans-serif;
	font-size: 14px;
	color: #4a4a4a;
	width: 250px;
	position: absolute;
	left: -100000px;
	opacity: 0;
	transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
	transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
	transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
	z-index: 100; }
.datepicker.-from-top- {
	-webkit-transform: translateY(-8px);
	transform: translateY(-8px); }
.datepicker.-from-right- {
	-webkit-transform: translateX(8px);
	transform: translateX(8px); }
.datepicker.-from-bottom- {
	-webkit-transform: translateY(8px);
	transform: translateY(8px); }
.datepicker.-from-left- {
	-webkit-transform: translateX(-8px);
	transform: translateX(-8px); }
.datepicker.active {
	opacity: 1;
	-webkit-transform: translate(0);
	transform: translate(0);
	transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
	transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
	transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease; }

.datepicker-inline .datepicker {
	border-color: #d7d7d7;
	box-shadow: none;
	position: static;
	left: auto;
	right: auto;
	opacity: 1;
	-webkit-transform: none;
	transform: none; }

.datepicker-inline .datepicker--pointer {
	display: none; }

.datepicker--content {
	box-sizing: content-box;
	padding: 4px; }
.-only-timepicker- .datepicker--content {
	display: none; }

.datepicker--pointer {
	position: absolute;
	background: #fff;
	border-top: 1px solid #dbdbdb;
	border-right: 1px solid #dbdbdb;
	width: 10px;
	height: 10px;
	z-index: -1; }
.-top-left- .datepicker--pointer, .-top-center- .datepicker--pointer, .-top-right- .datepicker--pointer {
	top: calc(100% - 4px);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg); }
.-right-top- .datepicker--pointer, .-right-center- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
	right: calc(100% - 4px);
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg); }
.-bottom-left- .datepicker--pointer, .-bottom-center- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
	bottom: calc(100% - 4px);
	-webkit-transform: rotate(315deg);
	transform: rotate(315deg); }
.-left-top- .datepicker--pointer, .-left-center- .datepicker--pointer, .-left-bottom- .datepicker--pointer {
	left: calc(100% - 4px);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg); }
.-top-left- .datepicker--pointer, .-bottom-left- .datepicker--pointer {
	left: 10px; }
.-top-right- .datepicker--pointer, .-bottom-right- .datepicker--pointer {
	right: 10px; }
.-top-center- .datepicker--pointer, .-bottom-center- .datepicker--pointer {
	left: calc(50% - 10px / 2); }
.-left-top- .datepicker--pointer, .-right-top- .datepicker--pointer {
	top: 10px; }
.-left-bottom- .datepicker--pointer, .-right-bottom- .datepicker--pointer {
	bottom: 10px; }
.-left-center- .datepicker--pointer, .-right-center- .datepicker--pointer {
	top: calc(50% - 10px / 2); }

.datepicker--body {
	display: none; }
.datepicker--body.active {
	display: block; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
	color: #dedede; }
.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
	color: #c5c5c5; }
.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
	color: #dedede; }
.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
	color: #fff;
	background: #a2ddf6; }
.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
	background: #8ad5f4; }
.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
	background-color: rgba(92, 196, 239, 0.1);
	color: #cccccc; }
.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
	background-color: rgba(92, 196, 239, 0.2); }
.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
	background: none;
	border: none; }

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */
.datepicker--nav {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-bottom: 1px solid #efefef;
	min-height: 32px;
	padding: 4px; }
.-only-timepicker- .datepicker--nav {
	display: none; }

.datepicker--nav-title,
.datepicker--nav-action {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center; }

.datepicker--nav-action {
	width: 32px;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; }
.datepicker--nav-action:hover {
	background: #f0f0f0; }
.datepicker--nav-action.-disabled- {
	visibility: hidden; }
.datepicker--nav-action svg {
	width: 32px;
	height: 32px; }
.datepicker--nav-action path {
	fill: none;
	stroke: #9c9c9c;
	stroke-width: 2px; }

.datepicker--nav-title {
	border-radius: 4px;
	padding: 0 8px; }
.datepicker--nav-title i {
	font-style: normal;
	color: #9c9c9c;
	margin-left: 5px; }
.datepicker--nav-title:hover {
	background: #f0f0f0; }
.datepicker--nav-title.-disabled- {
	cursor: default;
	background: none; }

.datepicker--buttons {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 4px;
	border-top: 1px solid #efefef; }

.datepicker--button {
	color: #4EB5E6;
	cursor: pointer;
	border-radius: 4px;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 32px; }
.datepicker--button:hover {
	color: #4a4a4a;
	background: #f0f0f0; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
	color: #dedede; }
.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
	color: #c5c5c5; }
.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
	color: #dedede; }
.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
	color: #fff;
	background: #a2ddf6; }
.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
	background: #8ad5f4; }
.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
	background-color: rgba(92, 196, 239, 0.1);
	color: #cccccc; }
.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
	background-color: rgba(92, 196, 239, 0.2); }
.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
	background: none;
	border: none; }

/* -------------------------------------------------
    Timepicker
   ------------------------------------------------- */
.datepicker--time {
	border-top: 1px solid #efefef;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 4px;
	position: relative; }
.datepicker--time.-am-pm- .datepicker--time-sliders {
	-webkit-flex: 0 1 138px;
	-ms-flex: 0 1 138px;
	flex: 0 1 138px;
	max-width: 138px; }
.-only-timepicker- .datepicker--time {
	border-top: none; }

.datepicker--time-sliders {
	-webkit-flex: 0 1 153px;
	-ms-flex: 0 1 153px;
	flex: 0 1 153px;
	margin-right: 10px;
	max-width: 153px; }

.datepicker--time-label {
	display: none;
	font-size: 12px; }

.datepicker--time-current {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-size: 14px;
	text-align: center;
	margin: 0 0 0 10px; }

.datepicker--time-current-colon {
	margin: 0 2px 3px;
	line-height: 1; }

.datepicker--time-current-hours,
.datepicker--time-current-minutes {
	line-height: 1;
	font-size: 19px;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	position: relative;
	z-index: 1; }
.datepicker--time-current-hours:after,
.datepicker--time-current-minutes:after {
	content: '';
	background: #f0f0f0;
	border-radius: 4px;
	position: absolute;
	left: -2px;
	top: -3px;
	right: -2px;
	bottom: -2px;
	z-index: -1;
	opacity: 0; }
.datepicker--time-current-hours.-focus-:after,
.datepicker--time-current-minutes.-focus-:after {
	opacity: 1; }

.datepicker--time-current-ampm {
	text-transform: uppercase;
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	color: #9c9c9c;
	margin-left: 6px;
	font-size: 11px;
	margin-bottom: 1px; }

.datepicker--time-row {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 11px;
	height: 17px;
	background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat; }
.datepicker--time-row:first-child {
	margin-bottom: 4px; }
.datepicker--time-row input[type='range'] {
	background: none;
	cursor: pointer;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 100%;
	padding: 0;
	margin: 0;
	-webkit-appearance: none; }
.datepicker--time-row input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none; }
.datepicker--time-row input[type='range']::-ms-tooltip {
	display: none; }
.datepicker--time-row input[type='range']:hover::-webkit-slider-thumb {
	border-color: #b8b8b8; }
.datepicker--time-row input[type='range']:hover::-moz-range-thumb {
	border-color: #b8b8b8; }
.datepicker--time-row input[type='range']:hover::-ms-thumb {
	border-color: #b8b8b8; }
.datepicker--time-row input[type='range']:focus {
	outline: none; }
.datepicker--time-row input[type='range']:focus::-webkit-slider-thumb {
	background: #5cc4ef;
	border-color: #5cc4ef; }
.datepicker--time-row input[type='range']:focus::-moz-range-thumb {
	background: #5cc4ef;
	border-color: #5cc4ef; }
.datepicker--time-row input[type='range']:focus::-ms-thumb {
	background: #5cc4ef;
	border-color: #5cc4ef; }
.datepicker--time-row input[type='range']::-webkit-slider-thumb {
	box-sizing: border-box;
	height: 12px;
	width: 12px;
	border-radius: 3px;
	border: 1px solid #dedede;
	background: #fff;
	cursor: pointer;
	transition: background .2s; }
.datepicker--time-row input[type='range']::-moz-range-thumb {
	box-sizing: border-box;
	height: 12px;
	width: 12px;
	border-radius: 3px;
	border: 1px solid #dedede;
	background: #fff;
	cursor: pointer;
	transition: background .2s; }
.datepicker--time-row input[type='range']::-ms-thumb {
	box-sizing: border-box;
	height: 12px;
	width: 12px;
	border-radius: 3px;
	border: 1px solid #dedede;
	background: #fff;
	cursor: pointer;
	transition: background .2s; }
.datepicker--time-row input[type='range']::-webkit-slider-thumb {
	margin-top: -6px; }
.datepicker--time-row input[type='range']::-webkit-slider-runnable-track {
	border: none;
	height: 1px;
	cursor: pointer;
	color: transparent;
	background: transparent; }
.datepicker--time-row input[type='range']::-moz-range-track {
	border: none;
	height: 1px;
	cursor: pointer;
	color: transparent;
	background: transparent; }
.datepicker--time-row input[type='range']::-ms-track {
	border: none;
	height: 1px;
	cursor: pointer;
	color: transparent;
	background: transparent; }
.datepicker--time-row input[type='range']::-ms-fill-lower {
	background: transparent; }
.datepicker--time-row input[type='range']::-ms-fill-upper {
	background: transparent; }
.datepicker--time-row span {
	padding: 0 12px; }

.datepicker--time-icon {
	color: #9c9c9c;
	border: 1px solid;
	border-radius: 50%;
	font-size: 16px;
	position: relative;
	margin: 0 5px -1px 0;
	width: 1em;
	height: 1em; }
.datepicker--time-icon:after, .datepicker--time-icon:before {
	content: '';
	background: currentColor;
	position: absolute; }
.datepicker--time-icon:after {
	height: .4em;
	width: 1px;
	left: calc(50% - 1px);
	top: calc(50% + 1px);
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%); }
.datepicker--time-icon:before {
	width: .4em;
	height: 1px;
	top: calc(50% + 1px);
	left: calc(50% - 1px); }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
	color: #dedede; }
.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
	color: #c5c5c5; }
.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
	color: #dedede; }
.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
	color: #fff;
	background: #a2ddf6; }
.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
	background: #8ad5f4; }
.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
	background-color: rgba(92, 196, 239, 0.1);
	color: #cccccc; }
.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
	background-color: rgba(92, 196, 239, 0.2); }
.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
	background: none;
	border: none; }