// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$l-1-1-name: 'l-1-1';
$l-1-1-x: 47px;
$l-1-1-y: 74px;
$l-1-1-offset-x: -47px;
$l-1-1-offset-y: -74px;
$l-1-1-width: 9px;
$l-1-1-height: 9px;
$l-1-1-total-width: 147px;
$l-1-1-total-height: 130px;
$l-1-1-image: 'sprite.png';
$l-1-1: (47px, 74px, -47px, -74px, 9px, 9px, 147px, 130px, 'sprite.png', 'l-1-1', );
$l-1-10-name: 'l-1-10';
$l-1-10-x: 98px;
$l-1-10-y: 73px;
$l-1-10-offset-x: -98px;
$l-1-10-offset-y: -73px;
$l-1-10-width: 10px;
$l-1-10-height: 10px;
$l-1-10-total-width: 147px;
$l-1-10-total-height: 130px;
$l-1-10-image: 'sprite.png';
$l-1-10: (98px, 73px, -98px, -73px, 10px, 10px, 147px, 130px, 'sprite.png', 'l-1-10', );
$l-1-11-name: 'l-1-11';
$l-1-11-x: 118px;
$l-1-11-y: 22px;
$l-1-11-offset-x: -118px;
$l-1-11-offset-y: -22px;
$l-1-11-width: 12px;
$l-1-11-height: 12px;
$l-1-11-total-width: 147px;
$l-1-11-total-height: 130px;
$l-1-11-image: 'sprite.png';
$l-1-11: (118px, 22px, -118px, -22px, 12px, 12px, 147px, 130px, 'sprite.png', 'l-1-11', );
$l-1-12-name: 'l-1-12';
$l-1-12-x: 0px;
$l-1-12-y: 119px;
$l-1-12-offset-x: 0px;
$l-1-12-offset-y: -119px;
$l-1-12-width: 8px;
$l-1-12-height: 11px;
$l-1-12-total-width: 147px;
$l-1-12-total-height: 130px;
$l-1-12-image: 'sprite.png';
$l-1-12: (0px, 119px, 0px, -119px, 8px, 11px, 147px, 130px, 'sprite.png', 'l-1-12', );
$l-1-13-name: 'l-1-13';
$l-1-13-x: 118px;
$l-1-13-y: 44px;
$l-1-13-offset-x: -118px;
$l-1-13-offset-y: -44px;
$l-1-13-width: 12px;
$l-1-13-height: 12px;
$l-1-13-total-width: 147px;
$l-1-13-total-height: 130px;
$l-1-13-image: 'sprite.png';
$l-1-13: (118px, 44px, -118px, -44px, 12px, 12px, 147px, 130px, 'sprite.png', 'l-1-13', );
$l-1-2-name: 'l-1-2';
$l-1-2-x: 140px;
$l-1-2-y: 0px;
$l-1-2-offset-x: -140px;
$l-1-2-offset-y: 0px;
$l-1-2-width: 7px;
$l-1-2-height: 12px;
$l-1-2-total-width: 147px;
$l-1-2-total-height: 130px;
$l-1-2-image: 'sprite.png';
$l-1-2: (140px, 0px, -140px, 0px, 7px, 12px, 147px, 130px, 'sprite.png', 'l-1-2', );
$l-1-3-name: 'l-1-3';
$l-1-3-x: 66px;
$l-1-3-y: 74px;
$l-1-3-offset-x: -66px;
$l-1-3-offset-y: -74px;
$l-1-3-width: 13px;
$l-1-3-height: 5px;
$l-1-3-total-width: 147px;
$l-1-3-total-height: 130px;
$l-1-3-image: 'sprite.png';
$l-1-3: (66px, 74px, -66px, -74px, 13px, 5px, 147px, 130px, 'sprite.png', 'l-1-3', );
$l-1-4-name: 'l-1-4';
$l-1-4-x: 75px;
$l-1-4-y: 51px;
$l-1-4-offset-x: -75px;
$l-1-4-offset-y: -51px;
$l-1-4-width: 13px;
$l-1-4-height: 13px;
$l-1-4-total-width: 147px;
$l-1-4-total-height: 130px;
$l-1-4-image: 'sprite.png';
$l-1-4: (75px, 51px, -75px, -51px, 13px, 13px, 147px, 130px, 'sprite.png', 'l-1-4', );
$l-1-5-name: 'l-1-5';
$l-1-5-x: 0px;
$l-1-5-y: 50px;
$l-1-5-offset-x: 0px;
$l-1-5-offset-y: -50px;
$l-1-5-width: 14px;
$l-1-5-height: 14px;
$l-1-5-total-width: 147px;
$l-1-5-total-height: 130px;
$l-1-5-image: 'sprite.png';
$l-1-5: (0px, 50px, 0px, -50px, 14px, 14px, 147px, 130px, 'sprite.png', 'l-1-5', );
$l-1-6-name: 'l-1-6';
$l-1-6-x: 0px;
$l-1-6-y: 98px;
$l-1-6-offset-x: 0px;
$l-1-6-offset-y: -98px;
$l-1-6-width: 13px;
$l-1-6-height: 11px;
$l-1-6-total-width: 147px;
$l-1-6-total-height: 130px;
$l-1-6-image: 'sprite.png';
$l-1-6: (0px, 98px, 0px, -98px, 13px, 11px, 147px, 130px, 'sprite.png', 'l-1-6', );
$l-1-7-name: 'l-1-7';
$l-1-7-x: 44px;
$l-1-7-y: 98px;
$l-1-7-offset-x: -44px;
$l-1-7-offset-y: -98px;
$l-1-7-width: 12px;
$l-1-7-height: 10px;
$l-1-7-total-width: 147px;
$l-1-7-total-height: 130px;
$l-1-7-image: 'sprite.png';
$l-1-7: (44px, 98px, -44px, -98px, 12px, 10px, 147px, 130px, 'sprite.png', 'l-1-7', );
$l-1-8-name: 'l-1-8';
$l-1-8-x: 98px;
$l-1-8-y: 49px;
$l-1-8-offset-x: -98px;
$l-1-8-offset-y: -49px;
$l-1-8-width: 7px;
$l-1-8-height: 14px;
$l-1-8-total-width: 147px;
$l-1-8-total-height: 130px;
$l-1-8-image: 'sprite.png';
$l-1-8: (98px, 49px, -98px, -49px, 7px, 14px, 147px, 130px, 'sprite.png', 'l-1-8', );
$l-1-9-name: 'l-1-9';
$l-1-9-x: 98px;
$l-1-9-y: 25px;
$l-1-9-offset-x: -98px;
$l-1-9-offset-y: -25px;
$l-1-9-width: 8px;
$l-1-9-height: 14px;
$l-1-9-total-width: 147px;
$l-1-9-total-height: 130px;
$l-1-9-image: 'sprite.png';
$l-1-9: (98px, 25px, -98px, -25px, 8px, 14px, 147px, 130px, 'sprite.png', 'l-1-9', );
$l-2-1-name: 'l-2-1';
$l-2-1-x: 25px;
$l-2-1-y: 26px;
$l-2-1-offset-x: -25px;
$l-2-1-offset-y: -26px;
$l-2-1-width: 14px;
$l-2-1-height: 14px;
$l-2-1-total-width: 147px;
$l-2-1-total-height: 130px;
$l-2-1-image: 'sprite.png';
$l-2-1: (25px, 26px, -25px, -26px, 14px, 14px, 147px, 130px, 'sprite.png', 'l-2-1', );
$l-2-2-name: 'l-2-2';
$l-2-2-x: 46px;
$l-2-2-y: 50px;
$l-2-2-offset-x: -46px;
$l-2-2-offset-y: -50px;
$l-2-2-width: 15px;
$l-2-2-height: 10px;
$l-2-2-total-width: 147px;
$l-2-2-total-height: 130px;
$l-2-2-image: 'sprite.png';
$l-2-2: (46px, 50px, -46px, -50px, 15px, 10px, 147px, 130px, 'sprite.png', 'l-2-2', );
$l-2-3-name: 'l-2-3';
$l-2-3-x: 23px;
$l-2-3-y: 98px;
$l-2-3-offset-x: -23px;
$l-2-3-offset-y: -98px;
$l-2-3-width: 11px;
$l-2-3-height: 11px;
$l-2-3-total-width: 147px;
$l-2-3-total-height: 130px;
$l-2-3-image: 'sprite.png';
$l-2-3: (23px, 98px, -23px, -98px, 11px, 11px, 147px, 130px, 'sprite.png', 'l-2-3', );
$l-2-4-name: 'l-2-4';
$l-2-4-x: 0px;
$l-2-4-y: 74px;
$l-2-4-offset-x: 0px;
$l-2-4-offset-y: -74px;
$l-2-4-width: 11px;
$l-2-4-height: 14px;
$l-2-4-total-width: 147px;
$l-2-4-total-height: 130px;
$l-2-4-image: 'sprite.png';
$l-2-4: (0px, 74px, 0px, -74px, 11px, 14px, 147px, 130px, 'sprite.png', 'l-2-4', );
$l-2-5-name: 'l-2-5';
$l-2-5-x: 24px;
$l-2-5-y: 50px;
$l-2-5-offset-x: -24px;
$l-2-5-offset-y: -50px;
$l-2-5-width: 12px;
$l-2-5-height: 13px;
$l-2-5-total-width: 147px;
$l-2-5-total-height: 130px;
$l-2-5-image: 'sprite.png';
$l-2-5: (24px, 50px, -24px, -50px, 12px, 13px, 147px, 130px, 'sprite.png', 'l-2-5', );
$l-2-6-name: 'l-2-6';
$l-2-6-x: 118px;
$l-2-6-y: 0px;
$l-2-6-offset-x: -118px;
$l-2-6-offset-y: 0px;
$l-2-6-width: 12px;
$l-2-6-height: 12px;
$l-2-6-total-width: 147px;
$l-2-6-total-height: 130px;
$l-2-6-image: 'sprite.png';
$l-2-6: (118px, 0px, -118px, 0px, 12px, 12px, 147px, 130px, 'sprite.png', 'l-2-6', );
$l-2-7-name: 'l-2-7';
$l-2-7-x: 118px;
$l-2-7-y: 66px;
$l-2-7-offset-x: -118px;
$l-2-7-offset-y: -66px;
$l-2-7-width: 11px;
$l-2-7-height: 11px;
$l-2-7-total-width: 147px;
$l-2-7-total-height: 130px;
$l-2-7-image: 'sprite.png';
$l-2-7: (118px, 66px, -118px, -66px, 11px, 11px, 147px, 130px, 'sprite.png', 'l-2-7', );
$l-3-1-name: 'l-3-1';
$l-3-1-x: 0px;
$l-3-1-y: 0px;
$l-3-1-offset-x: 0px;
$l-3-1-offset-y: 0px;
$l-3-1-width: 16px;
$l-3-1-height: 16px;
$l-3-1-total-width: 147px;
$l-3-1-total-height: 130px;
$l-3-1-image: 'sprite.png';
$l-3-1: (0px, 0px, 0px, 0px, 16px, 16px, 147px, 130px, 'sprite.png', 'l-3-1', );
$l-3-2-name: 'l-3-2';
$l-3-2-x: 75px;
$l-3-2-y: 25px;
$l-3-2-offset-x: -75px;
$l-3-2-offset-y: -25px;
$l-3-2-width: 12px;
$l-3-2-height: 16px;
$l-3-2-total-width: 147px;
$l-3-2-total-height: 130px;
$l-3-2-image: 'sprite.png';
$l-3-2: (75px, 25px, -75px, -25px, 12px, 16px, 147px, 130px, 'sprite.png', 'l-3-2', );
$l-3-3-name: 'l-3-3';
$l-3-3-x: 51px;
$l-3-3-y: 0px;
$l-3-3-offset-x: -51px;
$l-3-3-offset-y: 0px;
$l-3-3-width: 14px;
$l-3-3-height: 14px;
$l-3-3-total-width: 147px;
$l-3-3-total-height: 130px;
$l-3-3-image: 'sprite.png';
$l-3-3: (51px, 0px, -51px, 0px, 14px, 14px, 147px, 130px, 'sprite.png', 'l-3-3', );
$l-3-4-name: 'l-3-4';
$l-3-4-x: 0px;
$l-3-4-y: 26px;
$l-3-4-offset-x: 0px;
$l-3-4-offset-y: -26px;
$l-3-4-width: 15px;
$l-3-4-height: 14px;
$l-3-4-total-width: 147px;
$l-3-4-total-height: 130px;
$l-3-4-image: 'sprite.png';
$l-3-4: (0px, 26px, 0px, -26px, 15px, 14px, 147px, 130px, 'sprite.png', 'l-3-4', );
$l-3-5-name: 'l-3-5';
$l-3-5-x: 21px;
$l-3-5-y: 74px;
$l-3-5-offset-x: -21px;
$l-3-5-offset-y: -74px;
$l-3-5-width: 16px;
$l-3-5-height: 9px;
$l-3-5-total-width: 147px;
$l-3-5-total-height: 130px;
$l-3-5-image: 'sprite.png';
$l-3-5: (21px, 74px, -21px, -74px, 16px, 9px, 147px, 130px, 'sprite.png', 'l-3-5', );
$l-3-6-name: 'l-3-6';
$l-3-6-x: 98px;
$l-3-6-y: 0px;
$l-3-6-offset-x: -98px;
$l-3-6-offset-y: 0px;
$l-3-6-width: 10px;
$l-3-6-height: 15px;
$l-3-6-total-width: 147px;
$l-3-6-total-height: 130px;
$l-3-6-image: 'sprite.png';
$l-3-6: (98px, 0px, -98px, 0px, 10px, 15px, 147px, 130px, 'sprite.png', 'l-3-6', );
$l-3-7-name: 'l-3-7';
$l-3-7-x: 75px;
$l-3-7-y: 0px;
$l-3-7-offset-x: -75px;
$l-3-7-offset-y: 0px;
$l-3-7-width: 13px;
$l-3-7-height: 15px;
$l-3-7-total-width: 147px;
$l-3-7-total-height: 130px;
$l-3-7-image: 'sprite.png';
$l-3-7: (75px, 0px, -75px, 0px, 13px, 15px, 147px, 130px, 'sprite.png', 'l-3-7', );
$l-3-8-name: 'l-3-8';
$l-3-8-x: 51px;
$l-3-8-y: 24px;
$l-3-8-offset-x: -51px;
$l-3-8-offset-y: -24px;
$l-3-8-width: 14px;
$l-3-8-height: 14px;
$l-3-8-total-width: 147px;
$l-3-8-total-height: 130px;
$l-3-8-image: 'sprite.png';
$l-3-8: (51px, 24px, -51px, -24px, 14px, 14px, 147px, 130px, 'sprite.png', 'l-3-8', );
$l-3-9-name: 'l-3-9';
$l-3-9-x: 26px;
$l-3-9-y: 0px;
$l-3-9-offset-x: -26px;
$l-3-9-offset-y: 0px;
$l-3-9-width: 15px;
$l-3-9-height: 14px;
$l-3-9-total-width: 147px;
$l-3-9-total-height: 130px;
$l-3-9-image: 'sprite.png';
$l-3-9: (26px, 0px, -26px, 0px, 15px, 14px, 147px, 130px, 'sprite.png', 'l-3-9', );
$spritesheet-width: 147px;
$spritesheet-height: 130px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($l-1-1, $l-1-10, $l-1-11, $l-1-12, $l-1-13, $l-1-2, $l-1-3, $l-1-4, $l-1-5, $l-1-6, $l-1-7, $l-1-8, $l-1-9, $l-2-1, $l-2-2, $l-2-3, $l-2-4, $l-2-5, $l-2-6, $l-2-7, $l-3-1, $l-3-2, $l-3-3, $l-3-4, $l-3-5, $l-3-6, $l-3-7, $l-3-8, $l-3-9, );
$spritesheet: (147px, 130px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url('../images/#{$sprite-image}');
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
