$breakpoints: (
	'xl': 1920px,
	'lg': 1280px,
	'md': 768px,
	'sm': 480px,
	'xs': 460px,
);


$color-basic: black;
$color-main: #0081cb;
$color-bg: rgba(#000, .8);
$color-border: #eee;


$tr: all .3s ease;
