$breakpoints: (
	'xl': 1920px,
	'lg': 1280px,
	'md': 998px,
	'sm': 779px,
	'xs': 576px,
);


$color-basic: black;
$color-main: #23a53b;
$color-bg: rgba(#000, .8);
$color-border: #959696;
$color-icon: "%230081cb";


$tr: all .3s ease;
