extends ../layouts/default

block head
  - var pageTitle = 'BSS70'

block content
  +article()
    h1 Hello 123 q12123asdasd!!!

  .wrap
    +slider(false, true)
      +slide()
        img(src="images/slide.png")
