extends ../layouts/default

block head
  - var pageTitle = 'BSS70'

block content
  .wrap
    br
    h2 <em>Попапы</em>
    br
    +button("/").js-popup(data-popup = 'popup-feedback') Запрос звонка

    +button("/").js-popup(data-popup = 'popup-sample') Второй попап
  .wrap
    br
    h2 <em>Меню</em>
    br
    .menu
      +menu()
      +burger()
  .wrap
    br
    h2 <em>Контентная зона</em>
    br
    +article()
      br
      h1 Hello 123 q12123asdasd!!!
      ul
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, omnis?
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, sunt?
        li Lorem ipsum dolor sit amet.
      br
      ol
        li Lorem ipsum dolor sit amet, consectetur adipisicing.
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolorum praesentium quaerat quos sapiente tenetur?
  .wrap
    br
    h2 <em>Табы</em>
    br
    +tabs('news')
      +tab()._active Категория 1
      +tab() Категория 2
      +tab() Категория 3
      +tab() Категория 4
    br
    br
    +tabs-wrapper('news')
      +tab-content()._active
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eum, facilis fuga incidunt nobis placeat?
      +tab-content()
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci iure maiores nam odio. Aut cum dicta distinctio dolores dolorum eius eligendi ipsum iure nam rem.
      +tab-content()
        h2 Lorem ipsum dolor sit amet.
      +tab-content()
        ul
          li Lorem ipsum dolor.
          li Lorem ipsum dolor sit.
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolor dolore eveniet iusto, minima minus nam repellendus sapiente?
          li Lorem ipsum dolor.
          li Lorem ipsum dolor sit.
          li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid dolor dolore eveniet iusto, minima minus nam repellendus sapiente?
  .wrap
    br
    h2 <em>Табы с фильтрами</em>
    br
    +tabs-filters('article')
      +tab-filter('article-all')._active Все новости
      +tab-filter('article-popular') Популярные
      +tab-filter('article-last') Последние
    +tabs-filters-wrapper('article')
      +tab-filters-content().article-all.article-last
        h3 Новость 1, последние новости
      +tab-filters-content().article-all.article-last
        h3 Новость 2, последние новости
      +tab-filters-content().article-all
        h3 Новость 3, просто новость
      +tab-filters-content().article-all.article-popular
        h3 Новость 4, популярная новость
      +tab-filters-content().article-all.article-popular
        h3 Новость 5, популярная новость

  .wrap
    br
    h2 <em>Слайдер</em>
    br
    +slider(false, true)._main
      +slide()
        img(src="https://via.placeholder.com/1140x300")
      +slide('Lorem ipsum dolor sit amet, consectetur adipisicing.')
        img(src="https://via.placeholder.com/1140x300")
  .wrap
    br
    h2 <em>Хлебные крошки</em>
    br
    +breadcrumbs(['home', 'news', 'new'])
  .wrap
    br
    h2 <em>Пагинация</em>
    br
    +pagination()
  .wrap
    br
    h2 <em>Форма поиска</em>
    +search()
  .wrap
    br
    h2 <em>Элементы форм</em>
    br
    +form('#', 'post')
      +inputbox()
        +input(placeholder="Надпись")
      br
      +textarea(placeholder="Текстовое поле")
      br
      +inputbox()
        +input()(placeholder="Выберите дату" readonly).js-datepicker
      br
      +inputbox()
        +select()
          option(value="Опция 1") Опция 1
          option(value="Опция 2") Опция 2
          option(value="Опция 3") Опция 3
      br
      +inputbox()
        +checkbox('checkbox', 'test', 'true') Чекбокс
      br
      +inputbox()
        +radio('ui-radio', 'test', 'true') Радиокнопка
        +radio('ui-radio', 'test-2') Радиокнопка
      br
      +inputbox()
        +input-number()(placeholder="Выберите количество")
  .wrap
    br
    h2 <em>Аккордион</em>
    br
    +accordions()
      +accordion().is-active
        +accordion-header Первый
        +accordion-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquid aut corporis cumque eaque error et eum expedita illum maiores necessitatibus quam quibusdam reiciendis sunt?
      +accordion()
        +accordion-header() Второй
        +accordion-body() Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere ipsum itaque non quo repudiandae, soluta!
      +accordion()
        +accordion-header() Третий
        +accordion-body() Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere ipsum itaque non quo repudiandae, soluta!


  .wrap
    br
    br
    br
    br
    br
    br
    br
    br
    br



  +popups()
    +popup.popup-feedback
      +feedback()
    +popup.popup-sample
      h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, sunt?

  +scrolltop()
