.feedback {
	width: 400px;

	@include screen('sm', max) {
		height: 100%;
		width: 100%;
	}

	$b: &;

	&__info {
		margin: 10px auto 0;

		$i: &;
	}

	&__error {
		text-align: center;
		color: red;
		display: none;

		.feedback__info_error & {
			display: block;

		}

		&-title {
			font-size: 17px;
		}
	}

	&__load {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		font-size: 14px;

		.feedback__info_process & {
			display: flex;
		}

		&-img {
			margin-right: 10px;
			width: 20px;
			height: 20px;
			border: 2px solid #f3f3f3;
			border-top: 2px solid $color-main;
			border-radius: 50%;
			animation: spin 1.5s linear infinite;
		}

		&-wrap {
			display: none;
		}
	}

	&__done {
		color: green;
		text-align: center;
		display: none;

		.feedback__info_success & {
			display: block;
		}
	}

	&__form {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	&__title {
		text-align: center;
		font-size: 20px;
	}

	&__input {
		width: 100%;
		padding: 0 10px 0 35px;
		margin: 5px 0 0 0;
		height: 40px;
		border-radius: 2px;
		border: 1px solid $color-border;
		position: relative;

		&_error {
			border-color: red;
		}

		&-wrap {
			width: 100%;
			position: relative;
			margin-top: 20px;

			&::before {
				content: '';
				position: absolute;
				left: 10px;
				top: 68%;
				transform: translateY(-50%);
				background-size: 100%;
				z-index: 5;
			}
		}
	}


	&__textarea {
		resize: none;
		height: 200px;
		padding: 10px 10px 10px 35px;
		margin: 5px 0 0 0;
		width: 100%;
		border-radius: 5px;
		border: 1px solid $color-border;
	}

	&__button {
		display: flex;
		justify-content: center;
		text-align: center;
		width: 100%;
		max-width: 220px;
		padding: 10px 15px;
		color: #fff;
		text-decoration: none;
		border-radius: 5px;
		background-color: $color-main;
		transition: $tr;
		border: 1px solid transparent;
		cursor: pointer;
		margin: 15px auto 0;
		$b: &;

		&:hover,
		&:active,
		&:focus {
			color: $color-main;
			background-color: #fff;
			border-color: $color-main;
		}
		
		&.disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
