mixin feedback()
  +b.feedback
    +e.title.w-700 Запрос звонка
    +e.info
      +e.error.feedback__error-form-1
        +e.error-title Ошибка!
        +e.error-text Не все обязательные поля заполнены
      +e.load-wrap.feedback__load-wrap-form-1
        +e.load
          +e.load-img
          +e.load-text Сообщение обрабатывается
      +e.done.feedback__done-form-1
        p Ваше сообщение отправлено! <br> Мы свяжемся с вами в ближайшее время.
    +e.FORM.form(method="post" id="form-1")
      +input-box()
        +input-title(for="form-1-name").w-700 Как к вам обращаться
        +input(type="text" id="form-1-name")._icon._icon-human.input_required
      +input-box()
        +input-title(for="form-1-phone").w-700 Номер телефона
        +input(type="text" id="form-1-phone")._icon._icon-phone.input_required.input_number
      +input-box()
        +input-title(for="form-1-text").w-700 Комментарии и пожелания
        +textarea(type="text" id="form-1-text" noresize)._icon._icon-text
      +input-box()
        +checkbox('form-1-checked', 'form-1', 'checked').btn-check Я выражаю свое согласие на обработку переданных мною персональных данных в соответствии с п.1 ст. 6 ФЗ РФ № 152 «О персональных данных». Обработка персональных данных осуществляется на территории Российской Федерации.
      +e.A.button.js-feedback-send.btn-form-1 Отправить
