.article {
	width: 100%;
	min-height: 450px;

	ul,
	ol{
		padding-left: 17px;
	}

	h1 {
		font-size: 24px;
		margin: 0 0 18px 0;
		font-weight: 700;
	}

	h2 {
		font-size: 22px;
		margin: 0 0 14px 0;
		font-weight: 700;
	}

	h3 {
		font-size: 21px;
		margin: 0 0 10px 0;
		font-weight: 700;
	}

	h4 {
		font-size: 15px;
		margin: 0 0 8px 0;
		font-weight: 700;
	}

	h5{
		font-size: 15px;
		margin: 0 0 8px 0;
		font-weight: 700;
	}

	img {
		max-width: 100%; }
}