.nav {
  display: flex;
  justify-content: space-between;
	background-color: $color-main;
	width: 100%;
  
  $b: &;

	&__prev {
		display: none;
		position: absolute;
		left: 25px;
		top: 22px;
		z-index: 999;
		font-size: 20px;
		color: #fff;
		transition: $tr;
		opacity: 0;
		cursor: pointer;

		&::before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			position: relative;
			margin-right: 15px;
			top: -2px;
			width: 0;
			height: 0;
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			border-right: 10px solid #fff;
			z-index: 3;
			transition: $tr;
		}
	}

	&__ul {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__item {
		list-style: none;
		position: relative;
	}

	&__link {
		display: block;
		line-height: 45px;
		padding: 0 15px;
		text-decoration: none;
		text-transform: uppercase;
		transform: $tr;
		background-color: $color-main;
		color: #fff;

		.nav__item:hover > & {
			background-color: #fff;
			color: $color-main;
		}
	}

	&__drop {
		top: 45px;
		left: 0;
		background-color: $color-main;
		width: 250px;
		z-index: 2;
	}

	&__sub {
		left: 100%;
		top: 0;
		width: 250px;
		background-color: $color-main;
		z-index: 3;
	}

	&__drop,
	&__sub {
		opacity: 0;
		pointer-events: none;
		position: absolute;
		transition: $tr;

		&_desktop-active {
			opacity: 1;
			pointer-events: all;
			z-index: 50;
		}
	}

	&__link_drop {
		background-color: $color-main;
	}
}

.menu {
	display: flex;

	@include screen('md', max) {
		justify-content: flex-end;
		align-items: center;
		background-color: $color-main;
	}
}

@include screen('md', max) {

	.nav {
		position: fixed;
		z-index: 999;
		left: -100%;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: $color-main;
		transition: $tr;
		justify-content: center;
		align-items: center;

		&_active {
			left: 0;
			transition: $tr;
		}

		&__ul {
			width: 100%;
			height: 100%;
			padding: 75px 0;
			justify-content: center;
			flex-direction: column;
		}

		&__item {
			width: 100%;
			text-align: center;
			position: static;

			&_parent {

				>.nav__link {

					position: relative;

					&::after {
						content: '';
						position: absolute;
						right: 15px;
						top: 50%;
						transform: translateY(-50%);
						width: 0;
						height: 0;
						border-top: 8px solid transparent;
						border-bottom: 8px solid transparent;
						border-left: 10px solid #fff;
						z-index: 3;
						transition: $tr;
					}
				}

				&:hover {

					>.nav__link {

						&::after {
							border-left-color: $color-main;
						}
					}
				}
			}
		}

		&__link {
			line-height: normal;
			padding: 10px 40px 10px 30px;
			font-size: 20px;
		}

		&__drop,
		&__sub {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			opacity: 0;
			pointer-events: none;
			transition: $tr;

			&_active {
				opacity: 1;
				pointer-events: all;
				z-index: 50;
			}
		}

		&__sub {

			&_active {
				z-index: 60;
			}
		}

		&__prev {

			&_active {
				display: block;
				opacity: 1;
			}
		}
	}
}