include ../blocks/footer/footer
include ../blocks/article/article
include ../blocks/feedback/feedback
include ../blocks/slider/slider
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/pagination/pagination
include ../blocks/search/search