include ../blocks/article/article
include ../blocks/breadcrumbs/breadcrumbs
include ../blocks/burger/burger
include ../blocks/buttons/buttons
include ../blocks/feedback/feedback
include ../blocks/menu/menu
include ../blocks/pagination/pagination
include ../blocks/scrolltop/scrolltop
include ../blocks/search/search
include ../blocks/slider/slider