mixin slider(pagination, buttons)
  .slider-wrapper
    +b.slider&attributes(attributes).swiper-container.js-slider
      .swiper-wrapper
        block
      if pagination
        +e.dots
          +e.dot
    if buttons
      .slider__button-wrap.wrap
        .slider__button.slider__button_prev
        .slider__button.slider__button_next

mixin slide(title, img)
  .swiper-slide(style="background-image: url("+img+");")
    a(href="/")
    if title
      .slider__title !{title}
        block
